* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    display: flex;
    height: 100%;
    background-color: #F9FAFB;
    color: #111827;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 220px;
    background-color: #1F2937;
    padding: 20px;
    color: #FFFFFF;
    height: 184%;
  }
  
  .logo {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    padding: 12px 0;
    cursor: pointer;
    color: #D1D5DB;
  }

  
    nav ul li a {
     display: block;
     padding: 5px;
     text-decoration: none;
     color: inherit;
    }
  
  nav ul li:hover,
  nav ul li.active {
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search {
    padding: 8px 12px;
    width: 220px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
  }
  
  .notifications,
  .profile {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    font-size: large;
  }
  
  .calendar-container {
    max-width: 900px;
    margin: auto auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 2px solid #e5e7eb;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .calendar-header h2 {
    font-size: 20px;
    color: #111827;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }

  .calendar-grid div {
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    color: #1f2937;
  }

  .day-name {
    font-weight: bold;
    background-color: #f3f4f6;
    color: #374151;
  }

  .day {
    background-color: #f9fafb;
    cursor: pointer;
  }

  .day:hover {
    background-color: #dbeafe;
  }

  .today {
    background-color: #3b82f6;
    color: #ffffff;
    font-weight: bold;
  }
